div.amark {
  overflow: hidden;
  z-index: 2;
}

div.amark:not(.philharm) span.content {
  font-family: 'Arial Narrow', Arial, Helvetica, Geneva;
}
div.amark.philharm span.content {
  font-family: "PhilHarmonieFont8";
}


div.amark span.content {
  padding: 8px;
}

/* Ligne de prolongation */
div.amark div.ligne_prolong {
  display: inline-block;
  width: 200px;
  border-top: 3px solid #222;
  margin-left: 1em;
  padding-bottom: 14px; /* pour être bien au milieu verticalement */
  overflow: hidden;
}

/* La poignée pour allonger la ligne de prolongation */
div.amark:not(.selected) div.handler_prolong {
  display: none;
}

div.amark.selected div.handler_prolong {
  display: inline-block;
  position: absolute;
  height: 200px; /*overflow hidden*/
  top: 0px;
  right: 0px;
}

div.amark.selected div.handler_prolong:not(.activated){
  background-color: #C9FFC5;
  width: 15px;
}
div.amark.selected div.handler_prolong.activated {
  background-color: red;
  width: 50px;
}


/* Pour le différents types de marque (modulation, pédale, etc.) */
div.amark.ped {

}

/* Pédale */
div.amark.ped span.content {
  display: inline-block;
  font-size: 30pt;
  vertical-align: bottom;
  border: 4px solid;
  border-radius: 1em;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 0.7em;
  background-color: black;
  color: white;
}

/*Emprunt et modulation*/
div.amark.emp, 
div.amark.mod {
  width: 134px;
  height: 110px;
  background-size: cover;
  background-position: 0px 0px;
}
div.amark.emp {
  background-image: url("../img/emprunt.png");
  padding-top: 70px;
  padding-left: 20px;
}
div.amark.mod {
  background-image: url("../img/modulation.png"); 
  padding-top: 70px;
  padding-left: 20px;
}
div.amark.emp span.content,
div.amark.mod span.content {
  display: inline-block;
  padding: unset;
  transform: rotate(-40deg);
}
div.amark.emp span.content {
  margin-left: 16px;
}
div.amark.mod span.content {
  margin-left: 0px;
}

/* Cadence */
div.amark.cad {
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: #333;
  text-align: right;
  min-width: 130px;
  width: 130px;
  overflow: unset; /* il faut montrer ce qui dépasse */
  z-index: 1;
}
div.amark.cad.selected {
  border-width: 2px;
  border-color: unset;
}
div.amark.cad span.content {
  display: inline-block;
  padding: unset;
  padding-right: 24px;
  margin-top: 12px;
}

div.amark.cad button.plus_sign,
div.amark.cad button.moins_sign {
  float: left;
  margin-top: 27px;
}
div.amark.cad:not(.selected) button.plus_sign,
div.amark.cad:not(.selected) button.moins_sign {
  display: none;
}
/* Pour le nom de la cadence 

  Mais je l'appelle 'mtype' pour "marque type" dans le cas où
  d'autres marques pourraient nécessiter ce genre d'ajouter ou de
  précision
*/
div.amark.cad div.mtype {
  position: absolute;
  font-family: 'Arial Narrow', Helvetica, Geneva, Arial;
  font-size: 18pt;
  font-variant: all-small-caps;
  top: 86px;
  right: 0px;
  width: 180px;
}
