div.mini_editeur {
  position: absolute;
  width: 300px;
  padding: 1em 2em;
  background-color: #999;
  font-size: inherit;
  z-index: 50;
}
div.mini_editeur div.titre {
  margin-bottom: 1em;
  font-weight: bold;
}
div.mini_editeur input[type="text"] {
  width: 100%;
  font-size: 20pt;
  /*font-family: "PhilHarmonieFont8";*/
  font-family: 'Arial Narrow', Arial, Geneva, Helvetica;
}

div.mini_editeur div.buttons {
  margin-top: 1em;
}
div.mini_editeur div.buttons button {
  font-size: 14pt;
  font-family: Arial, Helvetica, Geneva;
  margin-left: 1em;
}
