div.container_getter_in_list {
  position: fixed;
  top: 6em;
  left: 12em;
  width: 300px;
  height: 400px;
  max-height: 400px;
  font-size: 0.85em;
  border: 1px solid;
  background-color: #EEE;
  border-radius: 0.6em;
  z-index: 100;
}
div.container_getter_in_list H3 {
  padding: 0.3em 1em;
}
ul.getter_in_list {
  list-style:  none;
  padding: 0;
  margin: 0;
}

ul.getter_in_list li span.rem_btn {
  float: right;
  display: inline-block;
  font-size: 6pt;
  width: 23px;
  height: 16px;
  background-color: #FEE;
  text-align: center;
}

ul.getter_in_list li {
  margin: 0;
  border: 1px solid #DDD;
  padding: 3px 1em;
}
ul.getter_in_list li:hover {
  background-color: #25aeff;
  color: white;
}
ul.getter_in_list li span.shortcut {
  float:  right;
  color: #777;
}

/* Pour le champ "nouveau" */
div.container_getter_in_list input.gil_new_item {
  margin-top: 1em;
  width: calc(100% - 24px);
  margin-left: 8px;
  font-family: inherit;
  font-size: inherit;
}
