body {
  margin: 0;
  padding: 0;
  position: relative;
  user-select: none;
  margin-bottom: 20em!important;
  font-family: 'Arial Narrow', Geneva, Helvetica;
  font-size: 16pt;
}

.fright {float: right}

.aobj:not(.selected) {
  border: 2px solid transparent;
  z-index: 0;
}
.aobj.selected {
  border: 2px solid blue;
  z-index: 20;
}

iframe {
  display: block;
  width: 100%;
}

iframe#staves2 {
  position: fixed;
  top: 0px;
  z-index: 100;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
.right {text-align: right}

section#content {
  margin-bottom: 400px!important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline;
  width: calc(100% - 2em);
  padding: 0.2em 1em;
  /*background-color: #FFF;*/
  background-color: transparent
}

footer * {
  visibility: hidden;
}
footer:hover, footer:hover * {
  visibility: visible;
  background-color: #EEE;
}

footer > button, footer > img {
  margin: 0 8px;
}

footer img.btn {
  width: 30px;
  border-width: 2px;
  border-style: solid;
  padding: 2px 8px;

}
footer img.btn:not(.pressed){
  border-color: #CCC #555 #555 #CCC;
}
footer img.btn.pressed {
  background-color: #84FB84;
  border-color: #555 #CCC #CCC #555;
}

footer button {
  font-family: inherit;
  font-size: inherit;
  margin-top: 4px;
}

footer button#btn-activer-son {
  background-color: red;
  color: white;
  margin-right: 4em;
}

div.aobj {
  position: absolute;
}

img.systeme {
  position: absolute;
}

/* Les messages à l'écran */

div#message {
  position: fixed;
  color: white;
  left: calc(100%/2 - 200px);
  width: 400px;
  top: 8em;
  padding: 1em 2em;
  z-index: 1000;
  cursor: pointer;
}
div#message.error {
  background-color: red;
}
div#message.notice {
  background-color: blue;
}
div#message.doaction {
  background-color: orange;
}
div#message span.close-btn {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 18pt;
  color: #ffa2a2;  
}


